# ModelSim/QuestaSim
work/
transcript
*.cr.mti
*.mpf
*.vcd
*.wlf

# Intel Quartus
db/
output_files/
incremental_db/
*.qdb
*.qpg
*.qtl
*.jdi
*.sof
*.pof
*.summary
*.log
simulation/
*pin_model_dump.txt
*.rpt
*.summary
*.smsg
*.qws

# Synopsys VCS
csrc/
simv/
simv
simv.daidir/
simv.vdb/
ucli.key
vc_hdrs.h
*.vpd
*.fsdb
verdiLog/
inter.fsdb/
novas.*

